/* Make sidebar background white */
/* .sidebar { */
/*   background-color: #fff !important; */
/*   color: #515151; */
/* } */
/* .sidebar { */
/*   text-align: center; */
/*   padding: 2rem 1rem; */
/*   color: rgba(255,255,255,.5); */
/*   background-color: #202020; */
/* } */
.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #ffffff;
}
.sidebar-about h1 {
  color: #000000;
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 400;
}
.sidebar a {
  color: #000000;
}

.sidebar .fa-envelope {
  color: #000000;
}

.sidebar-about p a {
  color: #000000;
}

@media (min-width: 80em) {
  .content {
    max-width: 40rem;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: -40px;
    min-height: 100%;
  }
}

@media (min-width: 80em) {
  .sidebar {
    left: calc(50% - 40rem);
  }

  footer {
    margin-left: 19rem !important;
    margin-right: 1rem !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #000000;
  text-rendering: optimizeLegibility;
}

.fa-ul .fa-book {
  color: #000000;
  display: inline-block;
  transition: transform 0.2s;
}
.fa-ul a:hover .fa-book {
  transform: scale(1.3);
}

.social-icons a {
  display: inline-block;
  transition: transform 0.2s;
}
.social-icons a:hover {
  transform: scale(1.3);
}

.sidebar-about p a {
  color: #000000;
  display: inline-block;
  transition: transform 0.2s;
}
.sidebar-about p a:hover {
  transform: scale(1.05);
}
